/* General Styles */
:root {
  --bg: #E5E4E2;
  --text: #151515;
  --yellow: #EDB74D;
  --red: #EB6666;
  --green: #6FB18A;
}

body {
  height: auto;
  margin: 0;
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 3em;
  
  background-color: var(--bg);
  font-family: "Georgia", sans-serif;
  
  margin: 0 10em;
}

.grainy-background {
  position: absolute;
  width: 100%;
  height: 600px; /* Fixed height for the grainy background */
  background: #8C8C8C; /* Same color as body::before */
  filter: url(#noiseFilter); /* Same overlay effect */
  opacity: 0.4; /* Match the original opacity */
  z-index: -1;
}

header, .hero {
  position: relative;
  z-index: 1;
}

.hero {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 600px; /* Set a fixed height for the hero section */
  gap: 3em;
}
.hero-text h1 {
  font-size: 64px;
  margin: 0;
  padding: 0;
}
.hero-text p {
  font-size: 20px;
}

.buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 2em;
}

.button {
  padding: 1em 3em;
  border: 1px solid var(--text);
  font-size: 18px;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}

.primary {
  background-color: var(--text);
  color: #DED3B6;
}

.secondary {
  background-color: transparent;
  color: var(--text);
}

/* Blobs */
.blob-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -2;
  height: 600px;
  width: 500px;
  position: relative;
  right: 5em;
}

.blob {
  border-radius: 100px;
  filter: blur(60px);
}

.yellow {
  background-color: var(--yellow);
  position: absolute;
  top: 200px;
  left: 100px;
  height: 200px;
  width: 200px;
  
  animation: yellow 8s infinite ease;
}

.green {
  background-color: var(--green);
  position: absolute;
  top: 80px;
  right: -20px;
  height: 200px;
  width: 250px;
  
  animation: green 8s infinite ease;
}

.red {
  background-color: var(--red);
  position: absolute;
  right: 0;
  top: 300px;
  height: 250px;
  width: 200px;
  
  animation: red 8s infinite linear;
}

@keyframes yellow {
  0% {top: 200px; left: 100px; transform: scale(1);}
  30% {top: 300px; left: 150px; transform: scale(1.2);}
  60% {top: 100px; left: 200px; transform: scale(1.3);}
  100% {top: 200px; left: 100px; transform: scale(1);}
}

@keyframes green {
  0% {top: 80px; right: -20px; transform: scale(1.2);}
  30% {top: 300px; right: -20px;transform: scale(1);}
  60% {top: 200px; right: 100px;transform: scale(1);}
  100% {top: 80px; right: -20px; transform: scale(1.2);}
}

@keyframes red {
  0% {top: 250px; right: 0px; transform: scale(1);}
  30% {top: 150px; right: 150px;transform: scale(1.4);}
  60% {top: 250px; right: 100px;transform: scale(1);}
  100% {top: 250px; right: 0px; transform: scale(1);}
}

/* the rest of the page */
.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 3em;
}

#portfolio {
  margin-top: 2rem; /* Add spacing between hero and portfolio sections */
  width: 100%;
  max-width: 1200px;
}

@media only screen and (max-width: 1000px) {
  body {
    margin: 1em;
  }
}

/* Not required */
.youtube {
  text-decoration: none;
  position: absolute;
  padding: 1em 2em;
  bottom: 1em;
  right: 1em;
  z-index: 9999;
  font-family: 'Roboto';
  color: #1c1c1c;
  border: 1px solid #1c1c1c;
  border-radius: 5px;
}

youtube:hover {
  background-color: rgb(28,28,28,0.14);
}